.git
.devcontainer
.vscode
.claude

node_modules
.pnpm-store
.next
.next-env.d.ts
next-env.d.ts
*.tsbuildinfo

coverage
playwright-report
test-results

settings
sounds
db

docs
tasks
e2e
mocks
apm_modules
apm.yml
apm.lock.yaml
.mcp.json

*.md
